doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title URl not found
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    style.
      pre {
        display: inline;
      }
  body
    h1 404 - Not found
    h2 Request information:
    div
      b Request method:
    div #{method}
    div
      b Requested path:
    div #{path}
    div
      b Possible problem with the request:
    div !{possibleProblem}

